<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/readersclubstyle.css">

</head>
<body>
    <form action="/" method="POST">
        {{message}}
        <p>Readers club website(only for members)</p>
        Username:
        <input type="text" name="username" id="">
        
        Password:
        <input type="password" name="password" id=""requierd>
        <button type="submit" class="btn-gradient">Enter to the website</button>
        {{error}}
    </form>
    

</body>
</html>